/*width management*/
@media screen and (max-width: 780px)  {
    div#projects_container div.list_item{
        width: 95%;
    }
}
@media screen and (max-width: 600px)  {
    dialog div.top_box button{
        width:25px;
        font-size: 1.3em;
    }
    div.social_bar{
        transform: scale(0.9);
    }
    .material-symbols-outlined{
        font-size: 2em;
    }
}
@media screen and (max-width: 550px)  {
    div#projects_container div.list_item{
        width: 93%;
    }
    div.pfp{
        width:80%;
    }
    div#info{
        font-size: 1.1em;
    }
}
@media screen and (max-width: 450px)  {
    dialog div.top_box button{
        width:23px;
        font-size: 1.12em;
    }
    div.pfp{
        width:84%;
    }
    div#info{
        font-size: 1.05em;
    }
    .material-symbols-outlined{
        font-size: 1.9em;
    }
     div.social_bar{
        transform: scale(0.88);
    }
    div.social_bar p{
        font-size: 1.05em;
    }
}
@media screen and (max-width: 365px)  {
    div#projects_container div.list_item{
        width: 92%;
    }
    div.pfp{
        width:90%;
    }
    div#info{
        font-size: 1em;
    }
    .material-symbols-outlined{
        font-size: 1.6em;
    }
     div.social_bar{
        transform: scale(0.85);
        width: 100%;
    }
    div.social_bar p{
        font-size: 0.97em;
    }
}